body{
    width: 100%;
}
#header1{
    width: 100%;
    background-color: #072046;
}
#navSecciones{
    width: 20%;
    background-color: #3f9bae;
    height: 1000px;
    display: inline-block;
    padding: 200px,200px;
}
/*
#secc1{
    width: 40%;
    background-color: #2e415f;
    display: inline-block;
}
#secc2{
    width: 40%;
    background-color: #2e415f;
    display: block;
}
*/
#secciones_artc{
    width: 100%;
    background-color: #2e415f;
    height: 1000px;
    padding: 20px, 20px;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
}
#aside1{
    width: 20%;
    background-color: #3f9bae;
    height: 1000px;
    display: inline-block;
    padding: 50px,50px;
}
#arct{
    width: 60%;
    background-color: #2e415f;
    display: inline-block;
    height: 1000px;
    padding: 50px, 50px;

}

#fooFinal{
    width: 100%;
    background-color: #072046;
    height: 200px;
    color: aliceblue;
}
a{
    font-size: 2em;
    color: #072046;
}